useDynLib(cognac, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
export(CreateGeneDataEnv)
export(CreatePartionFile)
export(ReverseTranslateAlgn)
export(cognac)